[Unit]
Description=Run i3 battery warning every 5min

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=i3batwarn.service

[Install]
WantedBy=timers.target